body{
    font-family: sans-serif;
    color: black;
}

a{
    color: darkturquoise;
    text-decoration: none;
}

a:hover{
    color: aqua;
    text-decoration: none;
}

h1, h2, h3, h4{
    font-family: sans-serif;

}

#header{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 350px;
    padding: 0 20px;
    background-color: black;
}

#header .profile img{
    margin: 40px auto;
    display: block;
    width: 150px;
}

#header .profile h1{
    font-size: 28px;
    font-family: sans-serif;
    text-align-last: center;
}

#header .profile .social-links a{
    margin: auto 20px;
    font-size: 22px;
    display: inline-block;
    background-color: darkslategray;
    border-radius: 50px;
    color: white;
    text-align: center;
    line-height: 1;
    margin-right: 4px;
    padding: 6px 0;
    width: 38px;
}

#header .profile .social-links a:hover{
    background-color: dodgerblue;
}

.nav-menu{
    padding-top: 32px;
}

.nav-menu *{
    margin: 0;
    padding: 0;
}

.nav-menu > ul > li{
    position: relative;
    white-space: nowrap;
}

.nav-menu a{
    display: flex;
    align-items: center;
    color: lightslategray;
    padding: 8px 16px;
    margin-bottom: 8px;
    font-size: 18px;
}

.nav-menu a i{
    font-size: 28px;
    padding-right: 4px;
    color: cadetblue;

}
.nav-menu a:hover,
.nav-menu .active > a{
    color: white;
}

@media (max-width:720px){
    #header{
        left: -350px;
    }
    #main{
        margin-left: 0;
    }
}

@media (min-width:720px){
    #main{
        margin-left: 350px;
    }
}

#intro{
    width: 100%;
    height: 100vh;
    background: url("../images/back4.jpg") top center;
    background-size: cover;
}

#intro::before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

#intro .intro-container{
    position: relative;
    z-index: 2;
    min-width: 300px;
}

#intro h1{
    margin-left: 250px;
    margin-bottom: 15px;
    font-size: 48px;
    font-weight: 700;
    color: white;
}

p{
    margin-left: 250px;
    margin-bottom: 50px;
    font-size: 28px;
    font-family:'Segoe UI';
    color: white;
}

@media (min-width:1024px){
    #intro{
        background-attachment: fixed;;
    }
}

@media (max-width:720px){
    #intro h1{
        font-size: 40px;
    }
}

#about h3{
    color:darkblue;
}

#about p{
    margin:0 5px;
    color: black;
    font-size: 18px;
    text-align: justify;
    font-family:sans-serif;
}

#about img{
    margin: 0 5px;
    display: block;
    width: 280px;
}

#about hr{
    border: 1px solid black;
}


#contact p{
    color: black;
}

#contact hr{
    border: 1px solid black;
}

#contact .info i {
    font-size: 20px;
    color:darkcyan;
    float: left;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

#contact .info h4{
    padding: 5px 40px;
    font-size: 20px;
    margin-bottom: 5px;
    color: #050d18;
}
  
#contact .info p {
    padding: 10px 40px;
    margin-bottom: 20px;
    font-size: 16px;
    color: black;
}

#contact .info i:hover {
    display: inline-block;
    background-color: dodgerblue;
    color: white;
    text-align: center;
    width: 36px;
    height: 36px;
    margin-right: 10px;
}
